.main-menu-top-level {
  display: flex;
  height: 100vh;
  font-family: "My UI Font", sans-serif;
  color: white;
}

.main-menu {
  flex-shrink: 0;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 300px;
}

.title-section {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: black;
}

.title-section h1 {
  font-size: 6rem;
  font-family: "My Title Font", sans-serif;
}

.clear-button {
  color: white;
  font-family: "My UI Font", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
  padding: 20px 40px;
  justify-content: center;
}

.clear-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.side-menu {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-tertiary);
  position: relative;
}

.main-menu-top-level.active .side-menu {
  width: 300px;
}

.close-button {
  font-family: "My UI Font", sans-serif;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  max-height: 100px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-content {
  padding: 20px; /* Add padding for the side menu content */
}

@font-face {
  font-family: "My Title Font";
  src: url("../../fonts/ccapshad.ttf") format("truetype");
}

@font-face {
  font-family: "My UI Font";
  src: url("../../fonts/Fredoka-SemiBold.ttf") format("truetype");
}
