.local-game-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    padding: 1.5% 12.5%;
    gap: 10%;
    border-radius: 10px;
    margin-top: 2.5%;
}

.game-menu-button {
    color: white;
    font-family: "My UI Font", sans-serif;
    background-color: var(--color-tertiary);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    justify-content: center;
}

.local-game-menu label {
    color: white;
    font-size: 24px;
    font-family: "My UI Font", sans-serif;
    width: 100px;
    text-align: center;
}

.game-menu-button:hover {
    filter: brightness(80%);
}