@keyframes fallAnimation {
    0% {
        top: -100%;
        /* Adjust as necessary to position above the board */
    }

    100% {
        top: var(--stopPosition);
        /* This will be dynamically set in the style attribute */
    }
}

.game-piece {
    position: absolute;
    transition: top 0.5s ease-in;
    /* Smooth transition for the falling effect */
    /* Position it within the column */
    top: 0;
    left: 0;
    right: 0;
    /* Other styling for the piece */
    width: 100%;
    /* Assuming this is the size of the hole */
    height: 100%;
    /* Assuming this is the size of the hole */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game-piece.falling {
    animation: fallAnimation 0.5s ease-in forwards; /* Use forwards to maintain the final state */
  }

/* Specific styles for player pieces and ghost pieces */
.Player1 {
    background-image: url('../images/red.png');
}

.Player2 {
    background-image: url('../images/yellow.png');
}

.ghost {
    opacity: 0.5;
    /* Makes the ghost piece semi-transparent */
}