@keyframes fallAnimation {
    0% {
        bottom: 120%;
        /* Adjust as necessary to position above the board */
    }

    100% {
        bottom: var(--stopPosition);
        /* This will be dynamically set in the style attribute */
    }
}

.game-piece {
    position: absolute;
    transition: top 0.25s ease-in;
    /* Smooth transition for the falling effect */
    /* Position it within the column */
    width: var(--game-piece-dim);
    height: var(--game-piece-dim);
    /* Reduce the size of the piece */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 7.5px;
}

.game-piece.falling {
    animation: fallAnimation 0.5s ease-in forwards; /* Use forwards to maintain the final state */
}

/* Specific styles for player pieces and ghost pieces */
.Player1 {
    background-image: url('../images/red.png');
}

.Player2 {
    background-image: url('../images/yellow.png');
}

.ghost {
    opacity: 0.5;
    /* Makes the ghost piece semi-transparent */
}
