.main-menu-top-level {
  display: flex;
  height: 100vh;
  color: white;
}

.main-menu {
  flex-shrink: 0;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 300px;
}

.title-section {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: black;
}

.title-section h1 {
  font-size: 6rem;
  font-family: var(--title-font);
}

.side-menu {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  background-color: var(--color-tertiary);
  position: relative;
}

.side-menu p {
  font-family: var(--ui-font);
  color: white;
  padding-left: 5%;
}

.profile-menu p {
  padding-left: 5%;
}

.main-menu-top-level.active .side-menu {
  width: 300px;
}

.close-button {
  font-family: var(--ui-font);
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  height: 15%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-content {
  padding: 20px;
  /* Add padding for the side menu content */
}

.logout-button,
.profile-info,
.google-login-button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: var(--ui-font);
}

.profile-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.google-login-button,
.logout-button {
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
}

.google-login-button {
  background: #4285F4;
  margin-bottom: 20px;
  /* Add some space between the login button and the profile info */
}

.google-login-button:hover {
  background: #357ae8;
}

.logout-button {
  background: #d9534f;
}

.logout-button:hover {
  background: #c9302c;
}

.mm-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
  /* Center items vertically */
  margin-right: 20px;
}

.matchmaking-button {
  display: inline-block;
  font-family: var(--ui-font);
  background: #4caf50;
  /* Green background */
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.matchmaking-button:hover {
  background: #45a049;
  /* Darker green on hover */
}