.game-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    gap: 20%; /* Add space between button and label */
    border-radius: 10px; /* Optional: add rounded corners */
}

.game-menu-button {
    color: white;
    font-family: "My UI Font", sans-serif;
    background-color: var(--color-tertiary);
    padding: 20px 20px;
    cursor: pointer;
    font-size: 32px;
    border: none; /* Remove default button border */
    border-radius: 10px; /* Optional: add rounded corners */
}

.game-menu label {
    color: white; /* Set label text color to white */
    font-size: 32px; /* Adjust label font size as needed */
    font-family: "My UI Font", sans-serif;
}

.game-menu-button:hover {
    filter: brightness(80%);
}